#Project-dependent folders
dataprocessing/
results/

#Eclipse files
Debug/
.settings/
.pydevproject
.project

#compressed files
*.zip
*.rar

OSX files
.DS_Store
*/.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# PSVN-dependent executables
*.ida
*.astar
*.mida
*.ida_cr
*.eda
*.cycle
*.chen
*.idlts
*.oida
*.oracle
*.zoomer
*.gen

# PSVN PDBs
*.state_map
*.distSummary

# SVN files
*/.svn/*
.svn/*
